<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<br>
<%= @game.player_2.name %>:
<%= @game.player_2.hit_points %>HP
<br>
<a href="/attack">Attack</a>

<!-- <form action="/play" method="get">
  <label for="Attack">
    <br>
  <input type="submit" value="Attack" onclick="msg(<%= @player_1_name %> attacked <%= @player_2_name %>)">
  </label>
</form> -->
